<launch>
  <!-- joy node -->
    <node respawn="true" pkg="joy"
        type="joy_node" name="turtle_joy" >
    <param name="dev" type="string" value="/dev/input/js0" />
    <param name="deadzone" value="0.12" />
  </node>   

<node name="arduino" pkg="ros_arduino_python" type="arduino_node.py" output="screen">
      <rosparam file="$(find ros_arduino_python)/config/my_arduino_params.yaml" command="load" />
   </node>

<node pkg="ros_arduino_python" type="joy_to_speed" name="speeds"/>
<node pkg="ros_arduino_python" type="ros_odometry_publisher.py" name="odom"/>
 
</launch>
